/*@media only screen and (min-width: 768px) {
	.product-tile {
		width: 50%;
	}
}*/

/*@media only screen and (min-width: 1000px) {
	.product-tile {
		width: 25%;
	}
}*/

/*@media only screen and (max-width: 1170px) {

}*/

@media only screen and (max-width: 1024px) {
	.header-content ,
	.poster-content ,
	.product-content {
		max-width: 1024px;
	}

	.header-container ,
	.poster-container ,
	.product-container ,
	.product-items {
		max-width: 930px;
	}

	.poster-container{
		height: 252px;
	}
		
	.product-tile {
		max-width: 208px;
	}

	.product-tile__image {
		max-width: 169px;
	}

	.product-tile:not(:last-child):after {
		right: -17px;
	}

}

@media only screen and (max-width: 768px) {
	
	html ,
	body {
		margin: 0;
		padding: 0;
	}

	.header-content ,
	.poster-content ,
	.product-content ,
	.header-container ,
	.poster-container ,
	.product-container ,
	.product-items {
		max-width: 768px;
	}
	
	.header-container {
		height: 111px;
		margin: 0 44px;
		padding: 0;
	}

	.header-container__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}

	.header-logo__logo {
		display: none;
	}
	
	.header-logo {
		width: 156px;
		height: 34px;
		margin: 0;
	}

	.header-mobile__logo {
		display: block;
		margin: 0;
	}

	.header-mobile__logo img {
		width: 100%;
	}

	.header-menu__humb {
		display: block;
		position: relative;
		width: 61px;
		height: 25px;
		cursor: pointer;
	}
	
	.menu-humb_first ,
	.menu-humb_second {
		display: block;
		position: absolute;
		width: 61px;
		height: 9px;
		background: #000;
		left: 0;
	}
	
	.menu-humb_first {
		top: 0;
	}

	.menu-humb_second {
		bottom: 0;
	}

	.header-menu__list ,
	.header-container__wrap {
		display: none;
	}

	.poster {
		margin-bottom: 68px;
	}

	.poster-container {
		width: 100%;
		height: 415px;
	}

	.poster-wrap {
	background-position: left -127px center;
	}

	.poster-wrap__item {
		max-width: 355px;
		height: 169px;
		padding: 123px 0 0 45px;
	}

	.poster-wrap__title {
		font-size: 50px;
		padding: 0;
		margin: 0 0 26px 0;
		line-height: 48px;
	}

	.poster-wrap__link-desc {
		font-size: 20px;
		margin-right: 18px;
	}
	
	.poster-wrap__arrow {
		transform: scale(1.6);
	}
	
	.product {
		margin-bottom: 10px;
	}

	.product-title {
		margin-bottom: 45px;
	}

	.product-title__name {
		font-size: 30px;
	}
	
	.product-items {
		display: flex;
		justify-content: space-between;
		max-width: 626px;
		margin: 0 auto;
	}

	.tile-3 ,
	.tile-4 {
		display: none;
	}

	.product-tile:not(:last-child):after {
		display: none;
	}

	.product-tile {
		max-width: 281px;
		justify-content: center;
	}
	
	.product-tile:not(.tile-2) {
		margin-right: 60px;  /*93px по макету. но не сжимает контейнер*/
	}

	.product-tile__image {
		max-width: 230px;
		max-height: 233px;
		margin-left: 49px;
		margin-bottom: 53px;
	}
	
	.product-tile__link img {
		transform: scale(1.2);
	}

	.product-info {
		padding: 0 0 0 16px;
	}

	.product-info__name {
		margin: 0 auto;
		margin-bottom: 18px;
	}

	.product-info__link {
		font-size: 20px;
		padding-left: 0;
		line-height: 19px;
		max-width: 252px;
		white-space: nowrap;
	}
	
	.product-info__wrap {
		margin: 0;
		max-width: 252px;
	}
	
	.product-info__price {
		padding: 0;
	}

	.product-info__sale {
		margin-right: 65px;
		font-size: 25px;
		line-height: 24px;
	}

	.product-swatch {
		max-width: 100px;
	}
	
	.product-list li:not(:last-child) {
		margin: 0;
	}

	.product-list__choice {
		height: 20px;
		width: 20px;
	}

	.product-list__choice:hover {
		transform: none;
	}
}

@media only screen and (max-width: 544px) {
	
	.poster {
		margin-bottom: 60px;
	}

	.poster-container {
		height: 320px;
	}

	.poster-wrap {
	background-position: left -150px center;
	}

	.poster-wrap__item {
		padding: 80px 0 0 65px;
	}

	.poster-wrap__title {
		font-size: 30px;
		margin-bottom: 12px;
		line-height: 29px;
	}

	.poster-wrap__link-desc {
		font-size: 17px;
		margin-right: 16px;
	}

	.product-title {
    margin-bottom: 35px;
  }

	.product-title__name {
    font-size: 26px;
	}

  .product-items {
    justify-content: center;
  }

	.product-tile:not(.tile-2) {
    margin-right: 0px;
	}
		.tile-2 {
		display: none;
	}

}

@media only screen and (max-width: 375px) {
	
	.header-content ,
	.poster-content ,
	.product-content ,
	.header-container ,
	.poster-container ,
	.product-container ,
	.product-items {
		max-width: 375px;
	}

	.header-container {
		height: 72px;
		margin: 0 42px;
		padding: 0 5px;
	}

	.header-logo {
		max-width: 104px;
		max-height: 22px;
		margin-left: 6px;
	}
	
	.header-menu {
		margin-right: 5px;
	}

	.header-menu__humb {
		display: block;
		position: relative;
		width: 41px;
		height: 15px;
	}

	.menu-humb_first ,
	.menu-humb_second {
		display: block;
		position: absolute;
		width: 41px;
		height: 5px;
	}

	.poster {
		margin-bottom: 36px;
		padding: 0 5px;
	}

	.poster-wrap {
	background-position: left -60px center;
	}

	.poster-container {
		height: 191px;
	}

	.poster-wrap__item {
		width: 135px;
		height: 100px;
		padding: 66px 0 0 48px;
	}

	.poster-wrap__title {
		font-size: 20px;
		margin: 0 0 6px 0;
		line-height: 19px;
	}

	.poster-wrap__link-desc {
		font-size: 12px;
		margin-right: 5px;
	}
	
	.poster-wrap__arrow {
		transform: scale(1.1);
	}

	.product-container {
		padding: 0 5px;
	}

	.product-tile:not(.tile-2) {
		margin-right: 0px;
	}

	.product-items {
		margin: 0 auto;
	}

	.product-tile__image {
		max-width: 162px;
		max-height: 165px;
		margin-left: 64px;
		margin-bottom: 22px;
	}
	
	.product-tile__link img {
		transform: scale(1.05);
	}

	.product-title {
		display: flex;
		justify-content: center;
		margin-bottom: -12px;
	}

	.product-title__name {
		font-size: 20px;
		margin-bottom: 12px;
	}

	.product-info {
		padding-left: 20px;
	}

	.product-info__link {
		font-size: 15px;
		line-height: 14px;
	}

	.product-info__name {
		margin-bottom: 3px;
		max-width: 281px;
	}

	.product-info__wrap {
		max-width: 281px;
	}

	.product-info__sale {
		margin-right: 119px;
		font-size: 20px;
		line-height: 19px;
	}
	
	.product-swatch {
		margin-top: 3px;
	}

	.product-list__choice {
	height: 15px;
	width: 15px;
	}
}

@media only screen and (max-width: 320px) {
	.header-content ,
	.poster-content ,
	.product-content ,
	.poster-container ,
	.product-container ,
	.product-items {
		max-width: 320px;
	}

	.header-logo {
		margin-left: 0px;
	}
	
	.header-menu {
		margin-right: 0px;
	}

	.header-container {
		margin: 0 20px;
	}

	.poster {
		margin-bottom: 38px;
	}

	.poster-wrap__item {
		padding: 67px 0 0 20px;
	}

	.product-items {
    margin: 0 auto;
  }
/*
	.poster-wrap__item {
		width: 135px;
		height: 100px;
		padding: 62px 0 0 20px;
	}*/

}